@font-face {
  font-family: futura;
  src: url(./fonts/Futura\ Light\ font.ttf);
}

:root {
  --light-blue: #78cce2;
  --very-light-blue: #e4eff0;
  --black: #000000;
  --midnight-blue: #002439;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--black);
}

.hero {
  background-image: url(./images/hero.png);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 900px;
}

.logo-top {
  padding: 30px;
}
h1,
h2,
h3,
p {
  font-family: futura;
  color: var(--light-blue);
  margin: 5px;
}

h1 {
  font-size: 96px;
  margin: 0;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 14.4px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 16px;
}

p {
  font-size: 13px;
}

.hero-text {
  padding: 30px;
}

.gradient {
  background: linear-gradient(
    360deg,
    #000 0%,
    rgba(0, 0, 0, 0.84) 39.66%,
    rgba(0, 0, 0, 0) 100%
  );
  position: absolute;
  width: 100%;
  height: 215px;
}

.main {
  display: flex;
  align-items: center;
}

.now-showing {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.scroll-container {
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
  background-color: var(--light-blue);
}

div.scroll-container img {
  padding: 10px;
}

.newsletter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 30px;
}

.newsletter-text {
  text-align: center;
  width: 50%;
}

table {
  margin-left: auto;
  margin-right: auto;
}

input,
button {
  background-color: var(--light-blue);
  border-radius: 20px;
  width: 300px;
  height: 50px;
  border: none;
}

.upcoming {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.book-now {
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 30px;
}

.footer-text {
  justify-content: space-between;
  text-align: center;
  width: 177px;
}

.icons {
  padding-top: 15px;
}

.icons img {
  padding: 8px;
}

@media (max-width: 800px) {
  .logotop {
    width: 63px;
    height: 52px;
  }
}
